*{
  padding: 0;
  margin: 0;
}
body{
  box-sizing: border-box;
 
}
body::before{
  position: absolute;
  content: '';
  background: url('/bg-tablet-pattern.svg') no-repeat;
  background-position: left bottom;
  background-size: 650px;
  width: 400px;
  height: 350px;
  top: 15px;
  right: 0;
  z-index: -1;
}
@keyframes navanim{
  from{
    transform: translateY(-5vh);
  }to{
    transform: translateY(0vh);
  }
}
.mobile-nav{
  position: absolute;
  background-color: #fff;
  width: 85%;
  height: 20rem;
  left: 2rem;
  top: 5rem;
  display: flex;
  flex-direction: column;
  animation: navanim 1s;
  animation-timing-function: ease-out;
}
nav, .header-section h1{
  color: hsl(228, 39%, 23%);
  font-family: "Be Vietnam Pro", sans-serif;
}
nav button{
  background-color:  hsl(12, 88%, 59%);
  padding: .5rem .7rem;
  border-radius: 5rem;
  box-shadow:  hsl(12, 88%, 59%) 0px 15px 60px;
}
nav button{
  padding: .75rem 1.5rem;
}
.mobile-nav li{
  font-size: .9rem;
  margin-top: 2rem;
  font-weight: 550;
}
section p{
  color:  hsl(227, 12%, 61%);
}
.orange-btn{
  background-color:  hsl(12, 88%, 59%);
  padding: .75rem 2rem;
  border-radius: 5rem;
  box-shadow:  hsl(12, 88%, 59%) 0px 15px 50px;
}
.main-section, .review-section h1, .review-section h3{
  color: hsl(228, 39%, 23%);
}
.main-section h3{
  background-color:  hsl(12, 88%, 59%);
  padding: .2rem 1.25rem;
  border-radius: 5rem;
  color: white;
}
.review-img-div{
  min-width: 28rem;
  height: 17rem;
  background-color: hsl(0, 0%, 98%);
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0 1.15rem;
}
.review-img-div:hover{
  cursor: pointer;
}
.review-section{
  width: 90%;
}
.logos{
  position: relative;
}
.logos-slide{
  transition: transform 1s ease-in-out;
  width: fit-content;
  margin: auto;
  overflow-x: hidden;
}
.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 150px;
  height: 100%;
  content: "";
  z-index: 2;
}
.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}
.simplify-section{
 background-color: hsl(12, 88%, 59%);
}
.simplify-section button{
  background-color: #fff;
  color: hsl(12, 88%, 59%);
  height: 3rem;
  width: 8rem;
  border-radius: 5rem;
}
.simplify-div {
  background: var(--bright-red);
  margin: 41px 0 0 0;
  overflow: hidden;
  position: relative;
}
.simplify-section::before,
.simplify-section::after{
  position: absolute;
  content: '';
  background: url('/bg-tablet-pattern.svg') no-repeat;
  background-position: left bottom;
  background-size: 600px;
  height: 600px;
  top: 10;
  left: 5;
  opacity: .1;
  z-index: 2;
}
.simplify-div::after {
  display: none;
  top: initial;
  right: initial;
  bottom: initial;
  left: initial;
}

@media (min-width: 761px) and (max-width: 1000px){
  body{
    position: relative;
  }
  body::before{
    position: absolute;
    content: '';
    background: url('/bg-tablet-pattern.svg') no-repeat;
    background-position: right top;
    background-size: 814px;
    width: 814px;
    height: 814px;
    bottom: -525px;
    left: -502px;
    z-index: 2;
  }
}

@media only screen and (max-width: 760px){
  .header-section{
    flex-direction: column-reverse;
    align-items: center;
  }
  .header-section-div1{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body{
    background-size: 814px;
    background-position:;
  }
  .main-section{
    flex-direction: column;
  }
  .main-section h3{
    background-color:  hsl(12, 88%, 59%);
    padding: .1rem 1rem;
    border-radius: 5rem;
    color: white;
    font-size: .95rem;
    text-align: center;
  }
  .main-section h4{
    margin-left: .5rem;
    background-color:  hsl(13, 100%, 96%);
    padding-top: .25rem;
  }
  .logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 80px;
  height: 100%;
  content: "";
  z-index: 2;
}
.simplify-div{
  flex-direction: column;
  align-items: center;
}
.simplify-div h1{
  margin: auto;
  text-align: center;
  margin-bottom: 2rem;
}
}